<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <form class="form-inline">

    <button class="btn btn-primary float-left" (click)="logout()" type="submit"><i class="fas fa-power-off"></i></button>
  </form>


  </nav>

  <br>
  <div *ngFor="let video of videos; let id=index" class="col-xl-3 col-md-6 mb-4">
    <!--<div class="col-md-6" style="height: 50px; width: 350px; display: inline-block;">
    <a href="{{video.name}}" >{{video.name}}<div>
      <p><i class="material-icons md-18" (click)="deleteItem(id)">delete</i></p></div>
    <div class="card-body text-center">
    <h5 class="card-title mb-0">
    
    </h5>-->
     
  <div flex style='vertical-align: middle; float: right;'>  <iframe width="260" height="200" [src]="video.name | sanitizer"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe> <div class="delete" style="display: inline-block;padding: 50px;">
    <p><i class="material-icons md-18" (click)="deleteItem(id)">delete</i></p></div>
    
  </div> 
<br>
    </div>
    
    
    
  