.card{
    margin-top:10px;
    border: none;
    width: 500px;
    padding: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
     background: rgb(193, 215, 231);
     background: linear-gradient(90deg,rgb(166, 204, 231)0%,rgb(207, 197, 226)100% );
}
.card h3{
color: #ffff;
}