<div class="card">
<form [formGroup]="loginform" >

<h3 class="mx-auto">Login</h3>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <div>
    <i class="fas fa-envelope-square" style="position:absolute;padding: 10px;display: inline-block;"></i>
    
    <input type="email"    class="inp" formControlName="email"/>
    
  </div></div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <div>
    <i class="fas fa-key fa-lg" style="position:absolute;padding: 10px;display: inline-block;"></i>
    <input type="password"   class="inp" formControlName="password"/>
  </div></div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input"  id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Keep me looged in!</label>
  </div>
  <button (click)="loginSubmit(loginform.value)" [disabled]="loginform.invalid" type="submit" class="btn btn-primary" style="margin-right: 16px" >
   <!-- <a routerLink="/video"> -->Login </button>
  <button type="submit"  class="btn btn-primary" > <a style="color: white;" routerLink="/signup">SignUp</a></button>
  </form>

</div>