.card{
    margin-top:10px;
    border: none;
    width: 500px;
    padding: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
     background: rgb(137, 192, 231);
     background: linear-gradient(90deg,rgb(161, 187, 206)0%,rgb(182, 159, 230)100% );
}
.card h3{
color: #ffff;
}