<div class="card">
     <form [formGroup]="signupform" >
    
    <h3>Create Account</h3>

    <div class="mb-3">
        <label for="exampleInputName" class="form-label">UserName</label>
        <div>
           <i class="far fa-user" style="position:absolute;padding: 10px;display: inline-block;"></i>
        <input type="name"  class="inp" formControlName="name"/>
        
      </div></div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email </label>
        <div>
          <i class="fas fa-envelope-square" style="position:absolute;padding: 10px;display: inline-block;"></i>
        <input type="email"  class="inp" formControlName="email"/>
        
      </div></div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <div>
        <i class="fas fa-key fa-lg" style="position:absolute;padding: 10px;display: inline-block;"></i>
        <input type="password"  class="inp" formControlName="password"/>
      </div></div>
      
      <button (click)="signupSubmit(signupform.value)" [disabled]="signupform.invalid" type="submit" class="btn btn-primary" style="margin-right: 16px" >SignUp</button>
     <button type="submit"  class="btn btn-primary" > <a style="color: white;" routerLink="/login">SignIn</a></button>
    </form>
    
    </div>